<h1>Editing post</h1>

<% form_for([@post.person,@post]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [@post.person, @post] %> |
<%= link_to 'Back', person_posts_path %>
