<h1>Listing posts</h1>

<table>
  <tr>
    <th>Body</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.body %></td>
    <td><%= link_to 'Show', [post.person,post] %></td>
    <td><%= link_to 'Edit', edit_person_post_path%> 
    <td><%= link_to 'Destroy', [post.person, post], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_person_post_path%>
