<h1>New post</h1>
- form_for [@post.person,@post] do |f|
  = f.error_messages
  = f.label :person_id
  = f.text_field :person_id
  = f.label :body
  = f.text_field :body
  = f.submit 'Create'
= link_to 'Back', person_posts_path
