- for post in @post
  %p 
    Body:
    = post.body
    Author:
    = post.person.alias
    = link_to 'Edit', edit_person_post_path(post.person,post) 
    %span.tags
      TAG :
      - for tag in post.tag.all
        %a{:href => "/-_-/#{post.person.alias}/!/#{tag.tag}"}=tag.tag
= link_to 'Back', person_posts_path 
